RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^$ index.php [L]


RewriteRule ^blog/?$ blog.php [L]


RewriteRule ^cursos/?$ cursos.php [L]


RewriteRule ^blog/pesquisa/([a-zA-Z0-9\-]+)/?$ blog.php?termo=$1 [L,QSA]

RewriteRule ^cursos/pesquisa/([a-zA-Z0-9\-]+)/?$ cursos.php?termo=$1 [L,QSA]
RewriteRule ^cursos/([a-zA-Z0-9\-]+)/?$ matricula.php?url_amigavel=$1 [L,QSA]

